* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.calculation {
  background: beige;
  height: 25px;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.cells-content {
  height: calc(100vh - 110px);
  overflow: auto;
  position: relative;
}

.sheets {
  font-family: Lato, sans-serif;
  display: flex;
  height: 25px;
}

.row {
  display: flex;
}

.left-col {
  position: absolute;
  top: 20px;
  background-color: white;
  z-index: 1;
}

.cell {
  min-height: 20px;
  min-width: 70px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  outline: none;
  max-width: 70px;
}

.top-left-cell {
  position: absolute;
  background-color: lightgrey;
  width: 20px;
  height: 20px;
  z-index: 2;
}

.top-row {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: white;
}

.top-row-cell {
  min-height: 20px;
  min-width: 70px;
  text-align: center;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.left-col-cell {
  min-height: 20px;
  width: 20px;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.cells {
  position: absolute;
  top: 20px;
  left: 20px;
}

#address {
  width: 50px;
  text-align: center;
  border: none;
}

#formula {
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
}

.add-sheet {
  display: flex;
  width: 30px;
  height: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: lightgreen;
  border-right: 1px solid lightgrey;
}

.sheets-list {
  display: flex;
  height: 100%;
}

.sheet {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
  cursor: pointer;
  background: lightgrey;
  color: black;
}

.active-sheet {
  background-color: white;
}

.menu-options {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid lightgray;
}

.menu-options > div {
  display: flex;
  align-items: center;
  height: 70%;
  width: 150px;
  justify-content: space-evenly;
  border-right: 1px solid lightgray;
}

.menu-options div div {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.menu-options div div:hover {
  background: lightgray;
  opacity: 0.7;
}
.active-menu {
  background-color: lightgray;
}
